spring:
  datasource:
      url: jdbc:mysql://awseb-e-mzbqpdtvky-stack-awsebrdsdatabase-sjylbijxdh7z.chgccwso2yba.ap-northeast-2.rds.amazonaws.com/blog
      username: hak0622
      password: zx134679!
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id:
            client-secret:
            scope:
              - email
              - profile
  sql:
    init:
      mode: always

  h2:
    console:
      enabled: true
jwt:
  issuer: ajufresh@gmail.com
  secret_key:

logging:
  level:
    org.hibernate.SQL: debug
