spring:
  datasource:
      url: jdbc:mysql://awseb-e-mzbqpdtvky-stack-awsebrdsdatabase-sjylbijxdh7z.chgccwso2yba.ap-northeast-2.rds.amazonaws.com/blog
      username: hak0622
      password: zx134679!
  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID}
            client-secret: ${SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

  h2:
    console:
      enabled: true
jwt:
  issuer: ajufresh@gmail.com
  secret_key: ${JWT_SECRET_KEY}

logging:
  level:
    org.hibernate.SQL: debug
