spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/testdb
    username: sa
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
jwt:
  issuer: ajufresh@gmail.com
  secret_key: y3b7H2cFZ9J+TQOQy3fZPp9yU3B6D+E3Jp8M7mXQWzU=

logging:
  level:
    org.hibernate.SQL: debug
